<!DOCTYPE html>
<html>
  <head>
    <title>Maptest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLwKvg4lrMv8oLRshQGNUG1R3zb9xmf-s&libraries=places&callback=initMap"
        async defer></script>
</html>
